<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Disney Movie List</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="../public/css/style.css" />
  </head>
  <body>
    <div class="container">
      <h1 class="my-4 text-center">La Nostra Film List</h1>
      <div class="row">
        <div class="col-12 mb-4">
          <form id="add-movie-form">
            <div class="input-group">
              <input
                type="text"
                id="movie-title"
                class="form-control"
                placeholder="Immetti nome film"
                autocomplete="off"
                required
              />

              <div class="input-group-append">
                <button type="submit" class="btn btn-primary" id="add-film">
                  Aggiungi Film
                </button>
              </div>
            </div>
            <div id="error-message" class="mt-3"></div>
            <div id="suggestions" class="suggestions list-group"></div>
          </form>
        </div>
        <% movies.forEach(movie => { %>
        <div class="col-md-4">
          <div class="card mb-4">
            <img
              src="<%= movie.image %>"
              class="card-img-top"
              alt="<%= movie.title %>"
              id="movie-image"
            />
            <div class="card-body">
              <h5 class="card-title"><%= movie.title %> (<%= movie.year %>)</h5>
              <p class="card-text">
                Stato: <%= movie.watched ? "Visto" : "Non Visto" %>
              </p>
              <button
                class="btn btn-primary"
                onclick="toggleWatched('<%= movie.title %>')"
                title="<%= movie.watched ? 'Segna come Non visto' : 'Segna come Visto' %>"
              >
                <i
                  class="fas <%= movie.watched ? 'fa-eye-slash' : 'fa-eye' %>"
                ></i>
              </button>
              <button
                class="btn btn-danger"
                onclick="deleteMovie('<%= movie.title %>')"
                title="Cancella"
              >
                <i class="fas fa-trash-alt"></i>
              </button>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
    <div id="image-modal" class="modal">
      <span class="close">&times;</span>
      <img class="modal-content" id="modal-image" />
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="../public/js/script.js"></script>
  </body>
</html>
